



<%= form_tag subscriber_path(1), method: :put do %>
<script src"https://checkout.stripe.com/checkout.js" class='stripe-button'
 data-key="<%= Rails.configuration.stripe[:publishable_key] %>">
	data-description='a year subscription'
	data-amount='3999'></script><span> whatever and whatever </span>



<% end %>

