// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wrapper-index {
	display: grid;
	grid-template-columns: 1fr;
	border: 4px solid teal;
	grid-gap: 10px;
	margin: 0 auto;
	width: 80%;
}


.articles {
	border: 3px solid pink;
	border-radius: 5px;
	padding: 10px;
}


.article {
	width: 70%;
	margin: 0 auto;
	border: 2px solid teal;
	padding: 10px;
	text-align: center;
}